body{
    font-family: 'SkarpaLT', 'Times', 'serif';
    background-color: rgb(148, 28, 148);
    background-image: url("../media/background.jpg");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: linear-gradient(20deg, rgb(17, 102, 182), rgb(133, 0, 115), rgb(13, 56, 115));
}

.banner, #main-navigator, #content-block{
    margin: 15px 10px;
    border-radius: 25px;
    box-shadow: 8px 8px;
}

.banner{   
    width: 85%;
    display: block;
    margin: auto;

}

#main-navigator{
    background: rgb(65, 65, 65);
    padding: 10px;
}

#main-navigator ul{
    text-align: center;
    list-style-type: none;
    margin: 0px 5px;
}

#main-navigator li{
    display: inline-block;
}


#main-navigator a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
}

#main-navigator a:hover{
    background-color: grey;
    padding: none;
}

.active{
    background-color: rgb(42, 50, 66);
}

#content-block{
    background: rgb(155, 155, 155);
    padding: 1px 10px 10px 10px;
    display: block;
}

h1{
    font-size: 44px;
    text-transform: capitalize;
    background-color: rgba(250, 255, 228, 0.671);

}

p{
    font-size: 20px;
    background-color: rgba(221, 173, 151, 0.671);

}

h2{
    font-size: 25px;
    text-transform: capitalize;
    background-color:  rgba(221, 173, 151, 0.671);
}

p, h1, h2{
    color: rgb(0, 0, 0);
}